{
    "presets": [
        "babel-preset-env",
        "react",
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread"
    ]
}
